*{
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1C1C1C;
  color: white;
}
.divMain{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
input{
  padding: 5px;
  border-radius: 15px;
  border: 1px solid black;
}
button{
  padding: 5px;
  background-color: crimson;
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}
.infos{
  display: flex;
  gap: 20px;
}
.infos p{
  margin-top: 10px;
}
img{
  width: 200px;
}